<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<import resource="applicationContext-service.xml" />
		
	<!-- Enable Annotation based configuration -->
	<context:component-scan base-package="fr.jonathanlebloas.computerdatabase.rest" />

	<!-- Enable JMX monitoring of the datasource -->
	<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
		<property name="beans">
			<map>
				<entry key="computer-database-rest:name=dataSource" value-ref="dataSource" />
				<entry key="computer-database-rest:name=transactionManager" value-ref="transactionManager" />
				<entry key="computer-database-rest:name=entityManagerFactory" value-ref="entityManagerFactory" />
			</map>
		</property>
	</bean>
</beans>
