<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<import resource="applicationContext-service.xml"/>
	
	<!-- Enable JMX monitoring of the datasource -->
	<bean id="mbeanExporter" class="org.springframework.jmx.export.MBeanExporter"
		lazy-init="false">
		<property name="beans">
			<map>
				<entry key="computer-database:name=dataSource" value-ref="dataSource" />
				<entry key="computer-database:name=transactionManager" value-ref="transactionManager" />
				<entry key="computer-database:name=entityManagerFactory" value-ref="entityManagerFactory" />
			</map>
		</property>
	</bean>
</beans>
